/*
 *
 * My Custon CSS
 * =============

 Author: Paul Rumin
 Updated: August 2015

 */

/*
	Layout

	*/
#features {
	text-align: center;
}

#features img {
	margin: 0 0 20px;
}

/*
	Typography

	*/

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

.well .page-header {
	margin-top: 0px;
}
.well .page-header h1 {
	margin-top: 0px;
}
/*
	Navbar

	*/
/*
	Carousel

	*/

#carow {
	width: 100%;
	padding-right: 0;
	padding-left: 0;
}

#myCarousel {
	margin-top: 56px;
	width: 100%;
}

.carousel-caption {
	font-size: 24px;
}

.carousel-caption h4 {
	font-size: 32px;
}

#myCarousel .item { 
	height: 400px;
}

.carousel-inner {
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
}

#slide1 {
	background: url('../../images/carouselMedium1.jpg') top center no-repeat;
}
#slide2 {
	background: url('../../images/carouselMedium2.jpg') top center no-repeat;
}
#slide3 {
	background: url('../../images/carouselMedium3.jpg') top center no-repeat;
}
/*
	Global Styles

	*/
.well {
	margin: 20px 0;
}
/*
	Media Queries

	*/

/* Portrait & landscape */
@media (max width: 480px){

	}

}

/* Landscape phone to portrait tablet */
@media (max width: 768px){

	#myCarousel .item { height: 310px; }

	#slide1 {
		background: url('../../images/carouselSmall1.jpg') top center no-repeat;
	}
	#slide2 {
		background: url('../../images/carouselSmall2.jpg') top center no-repeat;
	}
	#slide3 {
		background: url('../../images/carouselSmall3.jpg') top center no-repeat;
	}

	.carousel-caption {
		font-size: 16px;
	}

	.carousel_caption h4 {
		font-size: 22px;
	}


}

@media (max width: 1200px){

	#myCarousel .item { height: 500px; }

	#slide1 {
		background: url('../../images/carouselLarge1.jpg') top center no-repeat;
	}
	#slide2 {
		background: url('../../images/carouselLarge2.jpg') top center no-repeat;
	}
	#slide3 {
		background: url('../../images/carouselLarge3.jpg') top center no-repeat;
	}
}
